<form class="addContactForm" [formGroup]="addContactForm" (ngSubmit)="onSubmit()">
    <label for="firstName">First name: </label>
    <input type="text" formControlName="firstName">

    <label for="lastName">Last name: </label>
    <input type="text" formControlName="lastName">

    <label for="street">Street</label>
    <input type="text" formControlName="street">

    <label for="city">City</label>
    <input type="text" formControlName="city">

    <button type="submit" [disabled]="!addContactForm.valid">Submit</button>
</form>